nav {
    margin-bottom: 40px;
}

.ulClass {
    width: -webkit-fill-available;
}

.autentication-items {
    margin-left: auto;
    margin-right: 0%;
    display: flex;
}

.autentication-items li {
    padding-right: 20px;
}